nav {
  height: 100vh;
  background: rgb(29, 29, 29);
  width: 6vw;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 10px 0px 60px rgba(255, 255, 255, 0.1);
  border-top-right-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  position: absolute;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav:hover {
  width: 15vw;
  transition: all 0.5s ease;
}

nav li {
  margin-bottom: 6vh;
}

.logo {
  margin-top: 2vh;
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
}

.logo img {
  width: 5vw;
  height: 5vw;
  margin: 0 0.5vw 0 0.5vw;
}

.logo span {
  font-weight: bold;
  font-size: 1.3vw;
  text-transform: uppercase;
}

nav li a {
  color: darkgray;
  display: flex;
  width: 15vw;
  transition: all 0.5s ease;
  text-decoration: none;
  align-items: center;
}

nav li a:hover {
  color: #fff;
  cursor: pointer;
}

.fas {
  width: 6vw;
  font-size: 1.5vw;
  text-align: center;
}

.nav-item:not(.logo span) {
  font-size: 1.5vw;
  font-weight: bold;
}
